<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Contact\Controller\Index\Post">
        <plugin name="reCaptcha_ContactPost_Action" type="Bashconsole\ReCaptcha\Plugin\Contact\Controller\Index\Post" sortOrder="1" />
    </type>
    <type name="Magento\Customer\Controller\Account\CreatePost">
        <plugin name="reCaptcha_AccountCreate_Post_Action" type="Bashconsole\ReCaptcha\Plugin\Customer\Controller\Account\CreatePost" sortOrder="1"/>
    </type>
    <type name="Magento\Customer\Controller\Account\ForgotPasswordPost">
        <plugin name="reCaptcha_AccountForgotPassword_Post_Action" type="Bashconsole\ReCaptcha\Plugin\Customer\Controller\Account\ForgotPasswordPost" sortOrder="1"/>
    </type>
</config>
